
doctype html
html.demo
	head
		meta(charset="utf-8")
		title menutown proving grounds
		link(rel="stylesheet" href="/style.css")
		script(async defer src="/demo.bundle.js")
	body
		header.siteheader
			h1 welcome to menutown
			.menu-system
