
@mixin menu-system($size, $gapsize: $size / 10, $lanesize: 1rem) {
	$difsize: $size - ($gapsize * 2);

	position: absolute;
	width: 100%;
	top: 0;
	right: 0;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	pointer-events: none;

	* {
		z-index: 1;
		pointer-events: all;
	}

	.menu-blanket {
		z-index: 0;
		display: none;
		position: fixed;
		background: rgba(0,0,0, 0.4);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&[data-active] {
		position: absolute;

		.menu-blanket {
			display: block;
		}
	}

	.menu-display-list {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding: $gapsize;
		margin-right: $lanesize;
		background: rgba(255,255,255, 0.6);
	}

	.menu-display {
		display: block;
		flex: 0 0 auto;

		& + .menu-display {
			margin-left: $gapsize;
		}

		.menu-button {
			position: relative;
			display: block;
			border: none;
			width: $difsize;
			height: $difsize;
			background: rgba(255,255,255, 0.8);
		}

		.menu-panel {
			position: absolute;
			top: 100%;
			left: $lanesize;
			right: $lanesize;
			margin-left: auto;
			max-width: 640px;
			background: rgba(255,255,255, 0.9);
			color: rgba(0,0,0, 0.8);
		}
	}
}
