
@mixin menu-system(
	$size: 3rem,
	$gapsize: $size / 10,
	$lanesize: $size / 3,
	$menucolor: white,
	$textcolor: #333,
	$backplatecolor: transparentize(mix(invert($menucolor), $menucolor), 0.2),
	$inactiveopacity: 0.6,
	$blanketcolor: rgba(0,0,0, 0.4),
) {
	$difsize: $size - ($gapsize * 2);

	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	pointer-events: none;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	color: $textcolor;

	* {
		z-index: 1;
		pointer-events: all;
	}

	.menu-blanket {
		z-index: 0;
		display: none;
		position: fixed;
		background: $blanketcolor;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&[data-active] {
		position: absolute;

		.menu-blanket {
			display: block;
		}
	}

	.menu-display-list {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding: $gapsize;
		margin-right: $lanesize;
		background: $backplatecolor;
	}

	.menu-display {
		display: block;
		flex: 0 0 auto;

		& + .menu-display {
			margin-left: $gapsize;
		}
	}

	.menu-button {
		opacity: $inactiveopacity;
		position: relative;
		display: block;
		border: none;
		width: $difsize;
		height: $difsize;
		background: $menucolor;
		color: $textcolor;
	}

	.menu-display[data-active] .menu-button {
		opacity: 1;
	}

	.menu-panel {
		position: absolute;
		top: 100%;
		left: $lanesize;
		right: $lanesize;
		margin-left: auto;
		max-width: 640px;
		background: $menucolor;
	}
}
